{% extends "base.html" %}

{% block content %}
  <div class="container">
      <h2>Payment</h2>
      <p>Here you can add a payment form or integrate a payment gateway, such as Stripe or PayPal, to process transactions.</p>
      <button onclick="location.href='{% url 'home' %}'">Back to home</button>

      {% if user.is_authenticated %}
        <!-- Show the button to connect MetaMask only if the user is authenticated -->
        <h3>Conectar MetaMask</h3>
        <button onclick="connectMetaMask()">Connect MetaMask</button>
        <div></div>
        <button onclick="disconnectMetaMask()">Disconnect MetaMask</button>
      {% else %}
        <p><a href="{% url 'register' %}">Sign up</a> or <a href="{% url 'login' %}">log in</a> to access our services.</p>
      {% endif %}
  </div>
{% endblock %}
